input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.text-icon {
  color:rgb(145, 158, 171)
}

.product-images-slide {
  .swiper-button-prev {
    left: 30;
    color: white
  }

  .swiper-button-next {
    right: 30;
    color: white
  }
}

.product-images-slide-thumbs {
  .swiper-slide-active {
    border: 2px solid #ff02f2;
    border-radius:12px;
  }
}

.widthZoomOut {
  width: calc(100% - 90px);
}

.widthZoomOutOff {
  width: calc(100% - 280px);
}
