.bg-sign-dark {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(22, 28, 36, 0.94), rgba(22, 28, 36, 0.94)) center center / cover no-repeat, url(/images/overlay_2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}